$mainColor: #685e5b;
$black: #231917;
$accentColor: #ed5235;
$borderColor: rgba($mainColor, 0.6);
$borderColor-light: rgba($mainColor, 0.3);
body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    color: $black;
}
h1 {
    font-family: "Cherry Bomb One", system-ui;
    line-height: 1em;
    margin-bottom: 0;
}
.title_icon {
    font-size: 2rem;
    line-height: 1em;
}
.nav-tabs .nav-link {
    border-bottom-color: $borderColor-light;
    &:hover {
        border-color: $borderColor-light $borderColor-light rgba(white, 0.7);
    }
    &.active {
        border-color: $borderColor $borderColor rgba(white, 0.7);
        background-color: rgba(white, 0.7);
    }
}

form .form-control {
    border-color: $borderColor;
    &:focus {
        box-shadow: 0px 0px 0px 2px rgba($accentColor, 0.5) !important;
        border-color: rgba($accentColor, 0.5);
    }
}
.btn_accent-color {
    background-color: $accentColor;
    color: white;
    &:hover {
        background-color: #f67255;
        color: white;
    }
}
.background_img {
    position: fixed;
    top: 0;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.7;
}
main {
    flex: 1;
}
.bg-info {
    background-color: $mainColor !important;
    > svg {
        color: white !important;
    }
}
.jumbotron {
    position: relative;
}
.cat1 {
    position: absolute;
    bottom: calc(100% - 1px);
    left: 5%;
    height: 2.9rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.search_form {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    @media (min-width: 576px) {
        padding: 0 2em;
        margin-bottom: -2rem;
        margin-top: 2rem;
    }
}

.search_form {
    & > input {
        background-color: ghostwhite;
        border-radius: 3em;
        border: none;
        padding-right: 2em;
        padding-left: 1em;
    }
    & > button {
        outline: none;
        position: absolute;
        right: 0;
        background-color: $accentColor;
        border-radius: 50%;
        width: 3.8em;
        height: 3.8em;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.5em solid $mainColor;
        transform: 0.3s;
        &:hover {
            right: -0.2em;
            width: 4em;
            height: 4em;
            background-color: #f67255;
            color: white;
            transform: 0.3s;
        }
    }
}

.searched_words {
    font-weight: bolder;
}

.show_category_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1em;
    gap: 10px;
    & > li {
        position: relative;
        width: calc(25% - 1em);
        min-width: 5.5em;
        max-width: 8em;
        padding: 10px 0;
        text-align: center;
        color: gray;
        cursor: pointer;
        font-size: 1.05rem;
        &::after {
            content: "";
            position: absolute;
            left: 100%;
            right: 100%;
            bottom: 0;
            height: 4px;
            background-color: $accentColor;
            transition: left 0.5s ease, right 0.5s ease;
        }
        &:hover {
            opacity: 0.6;
            color: $accentColor;
            transition: all 0.3s;
            &::after {
                left: 0;
                right: 0;
            }
        }
        &.active {
            color: $accentColor;
            font-weight: bold;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 4px;
                background-color: $accentColor;
            }
            &:hover {
                opacity: 1;
                cursor: default;
            }
        }
    }
}
.category_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.posts_container,
.users_container {
    display: none;
}
.posts_container.active,
.users_container.active {
    display: flex;
}
.background-color_white {
    background-color: rgba(white, 0.7);
    border-radius: 5px;
}
.show_list_style > li {
    border-top: 1px solid $borderColor;
    &:last-child {
        border-bottom: 1px solid $borderColor;
    }
    p {
        margin: 0 !important;
    }
    .action_area {
        border-top: 1px solid $borderColor;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem 1rem;
    }
}
.post_content {
    line-height: 1.1em;
}
time {
    font-size: 0.8em;
}
footer {
    position: relative;
    margin-top: 80px;
    .cat2 {
        position: absolute;
        bottom: 100%;
        right: 0;
        z-index: -1;
        width: 25%;
        min-width: 180px;
        max-width: 500px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &.cat2_left {
            left: 0;
            transform: scale(-1, 1);
        }
    }
}
.btn-warning {
    background-color: orange;
    border-color: orange;
    color: white;
    &:hover {
        color: white;
    }
}
label {
    margin: 0;
}
.user_icon {
    object-fit: cover;
    aspect-ratio: 1/1;
}
.card-body {
    position: relative;
    .add_icon-btn {
        position: absolute;
        right: 10%;
        bottom: 10%;
        width: 15%;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        & > svg {
            height: 60%;
        }
    }
}
.modal_close-btn {
    position: absolute;
    top: 0;
    right: 0;
    & > svg {
        color: white;
        height: 2rem;
    }
    &:hover {
        opacity: 0.65;
    }
}
.cancel-modal-btn {
    background-color: white;
    color: dimgray;
    &:hover {
        opacity: 0.65;
    }
}
.timeline-list {
    display: none;
}
.timeline-category {
    display: flex;
    gap: 0.8rem;
    .btn {
        min-width: 5em;
        font-size: 0.9rem;
        padding: 0.1em 0.8em;
        background-color: white;
        border: 1px solid $accentColor;
        color: #ed5235;
        border-radius: 3em;
        cursor: pointer;
        &:hover {
            background-color: $accentColor;
            color: white;
            opacity: 0.65;
        }
        &.active {
            background-color: $accentColor;
            color: white;
            &:hover {
                opacity: 1;
            }
        }
    }
}
.postImg-input_container {
    row-gap: 0.5rem;
    .postImg-input_item {
        position: relative;
        min-width: 100px;
        > .btn {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            padding: 0.2rem 0;
            border: 1px solid darkgray;
            border-radius: 3rem;
            background-color: white;
            font-size: 0.8rem;
            line-height: 1em;
            svg {
                font-size: 1rem;
                align-self: center;
            }
            &:hover {
                opacity: 0.65;
            }
        }
        .postImg_preview {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 10%;
            display: none;
        }
        .postImg_delete {
            position: absolute;
            top: 2px;
            right: 18px;
            background-color: rgb(white, 0.65);
            color: dimgray;
            border-radius: 50%;
            width: 18%;
            aspect-ratio: 1/1;
            border: none;
            &:hover {
                opacity: 0.65;
            }
        }
    }
}
