@font-face {
    font-family: 'DotGothic16';
    src: url('../fonts/DotGothic16-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #ffffe3;
    font-family: 'DotGothic16', sans-serif;
    background-color: #babbbc;
}
