body {
    background-image: url('/images/sky-background.jpeg') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}